/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #333;
}

/* Main container for centering content */
.maintenance-container {
    margin-block: 10vh;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

/* Logo styling */
.logo {
    max-width: 250px;
    margin-block: 30px;
}

/* Message styles */
.message h1 {
    font-size: 2rem;
    color: #2C3E50;
    margin-bottom: 20px;
}

.message p {
    font-size: 1rem;
    color: #7F8C8D;
    margin-bottom: 15px;
}

.message a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.message a:hover {
    text-decoration: underline;
}

/* FORMULARIO DE CONTACTO */
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin-top: 5vh;
    text-align: start;
}
.contact-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 3vh;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: medium;
}
.contact-form textarea {
    resize: vertical;
    height: 150px;
}
.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.contact-form button:hover {
    background-color: #45a049;
}
.form-message {
    font-size: 14px;
    color: red;
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .maintenance-container {
        width: 80%;
    }
    .message h1 {
        font-size: 1.5rem;
    }
    .contact-form {
        margin-top: 0vh;
    }
}