* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F2F2F2;
}
header {
    background-color: #F2F2F2;
    height: 20vh;
    display: flex;
    align-items: center;
    padding-inline-start: 5vw;
}
.sidebar {
    display: none;
}
footer {
    background-color: #F2F2F2;
    height: 20vh;
}
#header-logo-container {
    height: 20vh;
    display: flex;
    align-items: center;
}
#header-logo-container img {
    height: 55%;
}
header nav ul {
    list-style: none;
    padding-left: 10vw;
}
header nav ul li {
    display: inline;
    margin-left: 3vw;
}
header nav ul li a {
    font-size: 1.4em;
    color: #2B7B8C;
    text-decoration: none;
    transition: 0.35s;
}
header nav ul li a:hover {
    color: #F27506;
}
.flex-row-container {
    display: flex;
    flex-direction: row;
}
.flex-col-container {
    display: flex;
    flex-direction: column;
}
#presentacion {
    display: flex;
    justify-content: center;
    background-image: url(/dev/img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 15vw;
}
#presentacion-container {
    padding-block: 20vh;
    width: 65%;
}
#presentacion-logo-container {
    margin-bottom: 5vh;
}
#presentacion-logo-container img {
    width: 100%;
}
#presentacion-container p{
    text-align: justify;
    font-size: 1.4em;
}
@media (max-width: 768px) {
    header {
        height: 15vh;
        justify-content: space-around;
        padding-inline-start: 0;
        padding-inline-end: 0;
        width: 100%;
        transition: margin-left 0.3s, left 0.3s;
    }
    header.active {
        margin-left: 250px;
    }
    .sidebar {
        display: flex;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #F2F2F2;
        transition: 0.3s;
        padding-top: 3vh;
        z-index: 1000;
        justify-content: start;
        flex-direction: column;
    }
    .sidebar h1 {
        text-align: end;
        padding-right: 5vw;
        font-size: 2em;
        font-weight: 600;
    }
    .sidebar.active {
        left: 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    }
    .sidebar-links {
        width: 100%;
        list-style: none;
        padding-top: 3vh;
    }
    .sidebar-links li {
        display: flex;
        text-align: end;
        justify-content: end;
        height: 10vh;
        align-items: center;
    }
    .sidebar-links li:nth-child(even) {
        background-color: #F2F2F2;
    }
    .sidebar-links li:nth-child(odd) {
        background-color: #e0e0e0;  
    }
    .sidebar-links a {
        display: block;
        padding-right: 5vw;
        color: #2B7B8C;
        text-decoration: none;
        font-size: 1.5em;
        transition: background-color 0.3s ease;
    }
    main {
        transition: margin-left 0.3s, left 0.3s;
        width: 100%;
    }
    main.active {
        margin-left: 250px;
    }
    footer {
        height: 30vh;
        width: 100%;
        transition: margin-left 0.3s, left 0.3s;
    }
    footer.active {
        margin-left: 250px;
    }
    #header-logo-container {
        height: 15vh;
        display: flex;
        align-items: center;
    }
    .nav-links {
        display: none;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .menu-icon span {
        background-color: black;
        display: block;
        height: 3px;
        width: 25px;
        margin: 5px auto;
    }
    #presentacion {
        padding-inline: 5vw;
    }
    #presentacion-container {
        width: 90%;
    }
    #presentacion-logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 5vh;
    }
}