* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #09403A;
}
header {
    background-color: #E4EAF2;
    height: 20vh;
}
main {
    padding-inline: 5vw;
}
footer {
    background-color: #E4EAF2;
    height: 20vh;
}